#whole-profile-page{
    height:fit-content;
    align-self: center;
    margin: 0 183px 0 120px;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}
#userDetails-card{
display: flex;
flex-direction: row;
height:300px;
width:100%;
/* justify-content: space-between; */
background-color: lightgrey;
}
#userDetails-data{
    display: flex;
    flex-direction: row;

}
#user-profile-photo{
    height:250px;
    width:250px;
    border-radius: 70%;
    align-self: center;
    margin-left: 20px;
    margin-right: 20px;

}
#user-username-email-bio{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
#user-page-username{
    font-size: 30px;
    /* font-weight: bold; */
    margin-top: 20px;
    background-color: black;
    color:white
}
#user-page-email{
    font-size: 25px;
}
#profile-edit-button{
    display:flex;
    align-self: right;
}
#user-page-your-tracks{
    display: flex;
    flex-direction: row;
    align-items: center;
    height:40px;
    font-size: 120%;
    border-bottom: 1px solid lightgray;
    color: rgb(80, 78, 78);
    font-weight: bold;
}
#user-page-your-tracks-text{
    margin-left: 3%;
}
#song-card-all{
    width:100%;
    max-width: 100%;
}
.song-card-profile-page{
    display: flex;
    flex-direction: row;
    width:100%;
    max-width: 100%;
    margin: 0 5% 0 0;
}
/* #song-card-exact{
    width:100%;
} */
#song-detail-with-cover{
    display: flex;
    flex-direction: row;
}
#each-song-cover-photo{
    height:230px;
    width:230px;

}
#song-detail-no-cover{
    display: flex;
    flex-direction: column;
}
#each-song-title-and-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#each-song-title{
    margin-bottom: 8%;
    margin-left: 3.3%;
    font-size: 20px;
    text-decoration: none;
    color: black
}
#wave-image{
    margin-left: 1.5%;
    width:100%;

}
#each-song-edit-delete{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* margin-right: 20%; */
    align-items: end;
    margin-left: 10px;
}
#each-song-edit-button{
    margin-right: 15px;


}
#actual-edit-button{
    font-size: 15px;
    border: none;
    border-color: white;
    background-color: white;
}
.Edit{
    font-size: 15px;
    border: 1px solid #f50;
    background-color: white;
    color: #f50;
    padding-left: 5px;
    padding-right: 5px;
}
#each-song-delete-button{
    font-size: 15px;
    /* border: 1px solid grey; */
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid grey;
    color: grey;
}
