.main-container{
  margin: 50px 120px 0 120px;
  /* overflow: scroll; */
}

.genre-container{
  border: 1px solid #333;
  margin-bottom: 20px;
  display: block;

}

.slider-panel{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scroll-margin: 200px;
}

.slider-eachsong{
  flex: 0 0 auto;
  margin-right: 10px;
  /* border: 1px solid red; */
  /* width: 180px;
  height: 180px; */
}

.will-change-to-img{
  border: 1px solid red;
  width: 180px;
  height: 180px;
}
