.header-upload{
    margin-top: 12%;
    margin-bottom: 10%;
    color: orange;
    display: flex;
    justify-content: center;
}

.upload-form-modal-contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 10vw;
    margin-right: 10vw;


 }

 /* .upload-form-modal-contents {
    display: inline-block;
    margin-left: 13vw;
    padding-top: 3vw;
    padding-bottom: 3vw;

 } */
